<style type="text/css">
body, td, th {
    font-family: Helvetica, Arial, Tahoma, Sans;
    font-size: 1em;
}
td, th {
    border: solid 1px #DDDDDD;
}
</style>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<script type="text/javascript">
window.setTimeout("location.reload()", 60000); //reload stocks every 1min

function remove_stock(stock) {
    $.ajax("http://localhost:8080/stock")
}
</script>

<form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    Stock: <input type="text" name="stock" id="stock" />
    <input type="submit" value="Add" />
</form>
{% if stock_list %}
<table>
    <tr>
        <th>Stock</th>
        <th>Value</th>
        <th style="border: none">&nbsp;</th>
    <tr>
    {% for stock in stock_list %}
        <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.last_price }}</td>
            <td><a href="remove/{{ stock.symbol }}">Remove</a></td>
        </tr>
    {% endfor %}
</table>
{% else %}
    <p>No stocks are available.</p>
{% endif %}
